
.ftco-footer {
	font-size: 14px;
	background: #141313;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	.ftco-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.ftco-footer-widget {
		h2 {
			font-weight: normal;
			color: white;
			margin-bottom: 40px;
			font-size: 18px;
			font-weight: 400;
		}
		ul{
			li{
				a{
					span{
						color: white;
					}
				}
			}
		}
		.btn-primary{
			background: white !important;
			border: 2px solid white !important;
			&:hover{
				background: white;
				border: 2px solid white !important;
			}
		}
	}
	p {
		color: rgba(white, .7);
	}
	a {
		color: rgba(white, .7);
		&:hover {
			color: white;
		}
	}
	.ftco-heading-2 {
		font-size: 17px;
		font-weight: 400;
		color: black;
	}

	.categories{
		li{
			border-bottom: 1px solid rgba(255,255,255,.1);
			a{
				span{
					color: rgba(255,255,255,.5) !important;
				}
			}
		}
	}
}


.ftco-footer-social {
	li {
		list-style: none;
		margin: 0 10px 0 0;
		display: inline-block;
		a {
			height: 50px;
			width: 50px;
			display: block;
			float: left;
			background: rgba(white, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: red;
			}
		}
	}
}
.media {
	.ftco-icon {
		width: 100px;
		span {
			color: red;
		}
	}
}

.categories, .sidelink {
	padding: 0;
	li {
		position: relative;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid gray('300');
		list-style: none;
		&:last-child {
			margin-bottom: 0;
			border-bottom: none;
			padding-bottom: 0;
		}
		a {
			display: block;
			span {
				position: absolute;
				right: 0;
				top: 0;
				color: #ccc;
			}
		}
		&.active {
			a {
				color: black;
				font-style: italic;
			}
		}
	}
}

