
.sectionHeader {
	// background-color: #222222;#292929
	background-image: linear-gradient(rgba(29, 29, 29, 0.9), rgba(29, 29, 29, 0.9)),url("../images/headerImg.jpeg");
	// background-image: linear-gradient(rgba(59, 9, 68, 0.65), rgba(59, 9, 68, 0.65)),url("../images/headerImg.jpeg");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100vh;
	@media (max-width: 425px) {
		background-size: contain;
	}
	.header-container {
		text-align: left;
		position: relative;
		.container-one {
			font-family: Poppins;
			font-style: normal;
			font-weight: 600;
			line-height: 55px;
			color: white;
			font-size: 50px;
			max-width: 60%;
			margin-left: auto;
			margin-right: auto;
			@media (max-width: 425px) {
				font-size: 15px;
				line-height: 20px;
			}
		}
		.container-two {
			img {
				width: 60%;
			}
		}

		.container-three {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 50px;
			cursor: pointer;
			max-width: 60%;
			margin-right: auto;
			margin-left: auto;
			cursor: pointer;
			.services {
				opacity: .7;
				position: relative;
				font-weight: 600;
				font-size: 16px;
				line-height: 16px;
				color: white;
				text-decoration: none;
				@media (max-width: 425px) {
					font-size: 12px;
					line-height: 12px;
					padding: 00px 30px;
				}
				&:hover {
					opacity: 1;
					
				}
			}
		}
	
			.right-container {
				text-align: right;
				align-self: flex-end;
				i {
					color: white;
					font-size: 30px;
					font-weight: 600;
					padding: 0px 10px;
					@media (max-width: 425px) {
						font-size: 25px;
					}
				}
			}
		}

	}



	.bottom-container {
		left: 0;
		bottom: 0px;
		position: absolute;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0px 80px;
		@media (max-width: 425px) {
			padding: 10px;
		}
		.left-container {
			align-self: flex-start;
			display: flex;
			flex-direction: row;
			i {
				color: white;
				font-size: 30px;
				font-weight: 600;
				animation: bounce 1s infinite alternate;
				-webkit-animation: bounce 1s infinite alternate;
			}
			.container-one{
				font-family: Poppins;
				font-style: normal;
				font-weight: 400;
				line-height: 35px;
				color: #C4C4C4;
				font-size: 12px;
			}
		  }
		  @keyframes bounce {
			from {
			  transform: translateY(0px);
			}
			to {
			  transform: translateY(-15px);
			}
		  }
		  @-webkit-keyframes bounce {
			from {
			  transform: translateY(0px);
			}
			to {
			  transform: translateY(-15px);
			}
		  }
		}