@charset "UTF-8";

/*==============================
=         footer            =
==============================*/

/* app footer */
.app--footer{
    padding-top: 30px;
    background-color: black;
    height: 2000px;


    /* footer action */
    .footer-action{
       
    }
     /* footer menu */
    .footer-menu{

    }
     /* footer address  */
    .footer-address{

    }
}

/*=====  End of fotter  ======*/